@model IEnumerable<Dominio.Servicio>

@{
    ViewData["Title"] = "PediXPlato";
}

<form method="post" id="formRegistro">
    <label>Nombre del plato</label>
    <input type="text" id="txtnomPlato" name="nomPlato" />
    <span id="avisoNomPlato" class="text-danger"></span><br>

    <input type="submit" value="Buscar" />
</form>

<h1>Pedi X Plato</h1>
<br />

@ViewBag.mensaje


@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecioFinal)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioFinal)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id })
                </td>
            </tr>
            }
        </tbody>
    </table>
}

<script>
    document.querySelector("#formRegistro").addEventListener('submit', validarDatos);

    function validarDatos(viajeDatos) {

        viajeDatos.preventDefault();

        let nomPlato = document.querySelector("#txtnomPlato").value;

        let nomPlatoValido = false;

        if (nomPlato != "") { nomPlatoValido = true; } else { document.querySelector("#avisoNomPlato").innerHTML = "El nombre del plato no puede ser vacio" }


        if (nomPlato) {
            this.submit();
        }
    }
</script>